#ComputerServiceButton {
    -fx-font-size: 30px;
    -fx-background-color: rgba(231, 13, 13, 0.8);
    -fx-text-fill: blue;
    -fx-padding: 6 6 6 6;
    -fx-border-radius: 8;
    -fx-font-weight: bold;
}

.button{

}
